---
---
@charset "utf-8";

@font-face {
   font-family: webtwicons;
   src: url('../fonts/webtwicons.eot');
   src: url('../fonts/webtwicons.woff2') format("woff2"), url('../fonts/webtwicons.woff') format("woff"), url('../fonts/webtwicons.ttf') format("truetype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
	font-family: 'LoraItalic';
	src: url('../fonts/Lora-Italic.ttf') format('truetype');
	font-style: italic;
}

@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-Light.ttf') format('truetype');
   font-style: normal;
   font-weight: 300;
}

@font-face {
   font-family: 'Source Sans Pro';
   src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
   font-style: normal;
   font-weight: 400;
}

@import
		"home/includes/variables",
		"home/includes/mixins",
		"home/includes/base",
		"home/includes/global",
		"home/includes/typography",
		"home/includes/normalize",
		"home/includes/webtwicons";

@import "home/home";
