---
---
@charset "utf-8";

@font-face {
   font-family: webtwicons;
   src: url('../fonts/webtwicons.eot');
   src: url('../fonts/webtwicons.woff2') format("woff2"), url('../fonts/webtwicons.woff') format("woff"), url('../fonts/webtwicons.ttf') format("truetype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
	font-family: 'LoraItalic';
	src: url('../fonts/Lora-Italic.ttf') format('truetype');
	font-style: italic;
}

@import
		"includes/variables",
		"includes/mixins",
		"includes/base",
		"includes/global",
		"includes/typography",
		"includes/normalize",
		"includes/webtwicons";

@import "home";
