---
layout: blog/page
title:  Archive
nav:    Archive
permalink: /archive/
---

<section class="archive">
  <section class="timeline" id="timeline">
    {% for post in site.posts %}
    {% unless post.next %}
    <section class="archive-title">
      <h4 class="archive-year">{{ post.date | date: '%Y' }}</h4>
    </section>

    <ul>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
    {% if year != nyear %}
    </ul>
    <section class="archive-title">
      <h4 class="archive-year">{{ post.date | date: '%Y' }}</h4>
    </section>

    <ul>
    {% endif %}
    {% endunless %}
    <li>
      <section style="width:60px;float:left;">{{ post.date | date: "%b %-d" }}</section> <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>

  </section>

</section>
