<nav class="post-navigation" role="navigation">
  <section class="row">
    <section class="col s5">
      <section class="post-nav-prev">
        {% if page.previous %}
        <a href="{{ site.url }}{{ page.previous.url }}" title="{{ page.previous.title }}">
          <section class="post-nav-btn">
            <section class="post-nav-text"><span class="danger-text-color"><i class="fa fa-angle-left"></i> ~ </span><span class="hidden-md primary-text-color">{{ page.previous.title }}</span></section>
          </section>
        </a>
        {% endif %}
      </section>
    </section>
    <section class="col s2">
      <a href="{{ site.url }}/">
        <section class="leonids-icon">
          <i class="fa fa-leaf"></i>
        </section>
      </a>
    </section>
    <section class="col s5 right">
      <section class="post-nav-next">
        {% if page.next %}
        <a href="{{ site.url }}{{ page.next.url }}" title="{{ page.previous.title }}">
          <section class="post-nav-btn">
            <section class="post-nav-text"><span class="hidden-md primary-text-color">{{ page.next.title }}</span><span class="success-text-color"> ~ <i class="fa fa-angle-right"></i></span></section>
          </section>
        </a>
        {% endif %}
      </section>
    </section>
  </section>
</nav>
