.site_header {
   vertical-align: middle;
   position: relative;
   padding: 10px 20px;
   display: block;
   .name {
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: .03em;
      text-align: left;
      margin: 0;
      a {
         font-family: $basefont;
         font-weight: 200;
      }
   }
   nav {
      display: inline-block;
      position: relative;
      float: right;
      margin: 5px;
      li {
         position: relative;
         display: inline-block;
         text-transform: uppercase;
         margin-right: 5px;
         letter-spacing: .03em;
         &:last-child {
            margin-right: 0;
         }
         a {
            position: relative;
            color: $off_white;
         }
      }
   }
}

.main_content {
   height: 500px;
}
.about_section {
   padding: 20px 0;
   font-family: $font-alt;
   position: relative;
   text-align: center;
   display: block;
   > {
      img {
         border: 2px solid $off_white;
         text-align: center;
         @extend .round;
         width: 130px;
         height: 130px;
      }
      p {
         font-family: $basefont;
         text-align: center;
         max-width: 450px;
         margin: 10px auto;
         color: $off_white;
         font-size: 1.02em;
         a {
            color: inherit;
            border-bottom: 1px dotted;
         }
      }
   }
}
