.site_header {
   @include box-shadow(0px 0px 3px rgba(0, 0, 0, .2));
   vertical-align: middle;
   position: relative;
   padding: 10px 20px;
   display: block;
   .name {
      text-transform: uppercase;
      display: inline-block;
      letter-spacing: .03em;
      position: relative;
      text-align: left;
      margin: 0;
      a {
         font-family: $font_alt;
         font-weight: 200;
         color: $white;
      }
   }
   nav {
      display: inline-block;
      position: relative;
      float: right;
      margin: 5px;
      li {
         letter-spacing: .03em;
         display: inline-block;
         position: relative;
         margin-right: 5px;
         &:last-child {
            margin-right: 0;
         }
         a {
            @include transition(color .3s ease-in-out .02s);
            font-size: 1.12em;
            position: relative;
            color: $white;
            &:before {
               background: transparentize( lighten($basecolor, 5%), .2);
               @include transition(transform .22s ease-in-out);
               @include transform(scaleX(0));
               position: absolute;
               content: "";
               height: 3px;
               top: $full;
               left: 0;
               right: 0;
            }
            &:hover {
               color: $basecolor;
               &:before {
                  @include transform(scaleX(.5));
               }
            }
         }
      }
   }
}

.about_content {
   position: relative;
   height: 570px;
   z-index: 1;
   &:before {
      @include transform(skewY(-5deg));
      -webkit-backface-visibility: hidden;
      backface-visibility: initial;
      background: $basecolor url(../img/bg2.jpg);
      background-repeat: no-repeat;
      -webkit-transform-origin: left center;
      transform-origin: left center;
      @include background-size(cover);
      position: absolute;
      overflow: visible;
      height: 570px;
      content: '';
      width: 100%;
      z-index: -1;
      bottom: 0;
      left: 0;
   }
}

.about_section {
   font-family: $font-alt;
   position: relative;
   text-align: center;
   margin: 30px 0;
   height: 320px;
   display: block;
   > {
      img {
         border: 2px solid $off_white;
         text-align: center;
         @extend .round;
         width: 130px;
         height: 130px;
      }
      p {
         font-family: $basefont;
         margin: 10px auto 20px;
         text-align: center;
         max-width: 71.2%;
         color: $off_white;
         font-size: 1.32em;
         a {
            border-bottom: 1px dotted;
            font-family: inherit;
            color: inherit;
         }
         b {
            font-family: inherit;
         }
         .location {
            > span {
               position: relative;
               margin-right: .18em;
            }
         }
      }
   }
}

.my_interests {
   margin-bottom: 25px;
   position: relative;
   color: $off_white;
   font-size: 1.2em;
   display: block;
   > span {
      font-family: $basefont;
      letter-spacing: .05em;
      position: relative;
      color: $off_white;
   }
}

.social_links {
   position: relative;
   a {
      @extend .round;
      @include transition(background .3s ease-in-out);
      background: transparentize($white, .9);
      border: .124em solid $grey;
      position: relative;
      padding: .4em .7em;
      margin-right: 5px;
      &:last-child {
         margin-right: 0;
      }
      &:hover {
         border: .124em solid transparentize($white, .5);
         background: transparentize($white, .5);
      }
      span {
         position: relative;
         color: $off_white;
      }
   }
}
