/* LAYOUT CSS */
.cover {
  background-color: $background-color;
  position: fixed;
  text-align: center;
  width: 100%;
  min-height: 400px;
  padding: 30px 15px 20px;
  z-index: 1;
  @include media-query($small-screen) {
    background-position: center;
    padding: 30px;
  }
  @include media-query($medium-screen) {
    height: 100vh;
    position: initial;
    width: 100%;
  }
}
.cover-card {
  color: $text-color;
  padding: 0 30px;
  .avatar {
    @include radius(50%);
    width: 100px;
    height: 100px;
    float: none;
  }
  .author_name {
    display: block;
    color: #F36170;
    font-size: 1.75em;
    text-transform: capitalize;
    margin-bottom: 3px;
  }
  .author_job {
    display: block;
    color: $secondary;
    font-size: 0.75em;
    font-weight: 400;
    text-transform: uppercase;
    margin: -5px auto 10px;
    letter-spacing: .01em;
  }
  .author_bio {
    font-size: 90%;
    display: block;
  }
  @include media-query($medium-screen) {
    text-align: right;
    margin: 0 auto;
    padding: 0 0px 80px;
  }
}
.social-links {
  margin-top: 0.9em;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      margin-left: 1em;
      a.social-link-item {
        color: $secondary;
        &:hover,
        &:focus {
          color: lighten($secondary, 14%);
        }
      }
    }
  }
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  .nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    & a {
      margin-top: 1em;
      text-transform: lowercase;
      font-size: 85%;
      color: $secondary;
      &:hover,
      &:focus {
        color: lighten($secondary, 14%);
      }
    }
  }
}

.page_hero {
  background-image: url('/img/blog-section.jpg');
  @include background-size(cover);
  background-position: 0 -300px;
  background-color: $basecolor;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: $basefont;
  position: relative;
  height: 330px; // 50vh
  .details {
    @include transform(translate(-50%, -50%));
    text-align: center;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    * {
      @include text-shadow(1px 2px #333);
      color: $off_white;
    }
  }
  h1 {
    position: relative;
    font-size: 3.7rem;
  }
  p {
    margin-top: -10px;
    font-size: 1.7rem;
  }
}

.post .page_hero {
  height: 60px;
  h1 {
    display: none;
  }
}
.work .page_hero {
  background-image: url('/img/bg-display.jpg');
  background-position: 0 -490px;
}

.about .page_hero {
  background-image: url('/img/developer2.jpg');
  background-position: 0 -350px;
}
