.site_header {
  vertical-align: middle;
  position: relative;
  padding: 10px 20px;
  display: block;
  height: 54px;
  .name {
    display: inline-block;
    letter-spacing: .03em;
    position: relative;
    text-align: left;
    margin: -2px 0;
    a {
      font-family: $basefont;
      font-weight: 100;
      color: $white;
    }
  }
  nav {
    display: inline-block;
    position: relative;
    float: right;
    margin: 5px;
    li {
      letter-spacing: .03em;
      display: inline-block;
      position: relative;
      a {
        @include transition(color .3s linear);
        @include border-radius(2px 2px 0);
        text-transform: capitalize;
        padding: 7px 10px .2em;
        letter-spacing: .03em;
        position: relative;
        font-size: 1.02em;
        color: $off_white;
        &:before {
          @include transition(top .3s ease-out, visibility, opacity .3s ease-in-out);
          @include opacity(.85);
          background: $off_white;
          visibility: hidden;
          position: absolute;
          height: .7em;
          content: "";
          top: $full;
          right: 0;
          left: 0;
        }
        &:hover {
          background: $off_white;
          color: $basecolor;
          &:before {
            visibility: visible;
            @include opacity(1);
            top: 90%;
          }
        }
      }
    }
  }
}

.page_content {
  position: relative;
  min-height: $full;
  min-width: $full;
  width: $full;
  .innr {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    height: $full;
  }
}

.about_section {
  position: relative;
  text-align: center;
  margin: 15vh auto;
  display: block;
  height: $full;
  width: $full;
  > .about_content {
    width: $full;
    margin: 0 auto;
  }
}

.about_content {
  > {
    .avatar {
      background: url('/img/me.jpg') no-repeat;
      filter: sepia(20%) grayscale(30%);
      @include background-size(116px);
      background-position: 1px 0px;
      border: 2px solid $off_white;
      display: inline-block;
      text-align: center;
      @extend .round;
      height: 124px;
      width: 120px;
    }
    p {
      font-family: $basefont;
      margin: 10px auto 20px;
      width: ($full - 30%);
      text-align: center;
      color: $off_white;
      font-size: 1.32em;
      a {
        border-bottom: 1px dotted;
        font-family: inherit;
        color: inherit;
      }
      b {
        font-family: inherit;
      }
      .location {
        > span {
          position: relative;
          margin-right: .18em;
        }
      }
    }
  }
}

.my_interests {
  margin-bottom: 25px;
  position: relative;
  color: $off_white;
  font-size: 1.2em;
  display: block;
  > span {
    font-family: $basefont;
    letter-spacing: .05em;
    position: relative;
    color: $off_white;
  }
}

.social_links {
  position: relative;
  a {
    @extend .round;
    @include transition(background .3s ease-in-out);
    background: transparentize($white, .9);
    border: .124em solid $grey;
    padding: .64em .89em;
    position: relative;
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      border: .124em solid transparentize($white, .5);
      background: transparentize($white, .5);
    }
    span {
      position: relative;
      color: $off_white;
    }
  }
}
