.site_header {
  vertical-align: middle;
  position: relative;
  padding: 10px 20px;
  display: block;
  height: 54px;
  .name {
    display: inline-block;
    letter-spacing: .03em;
    position: relative;
    text-align: left;
    margin: -2px 0;
    a {
      font-family: $basefont;
      font-weight: 100;
      color: $white;
    }
  }
  nav {
    display: inline-block;
    position: relative;
    float: right;
    margin: 5px;
    li {
      letter-spacing: .03em;
      display: inline-block;
      position: relative;
      a {
        @include transition(color .3s linear);
        @include border-radius(2px 2px 0);
        text-transform: capitalize;
        padding: 7px 10px .5em;
        letter-spacing: .03em;
        position: relative;
        font-size: 1.02em;
        color: $off_white;
        &:before {
          @include transition(top .3s ease-out, visibility, opacity, background .3s ease);
          @include opacity(.85);
          background: $off_white;
          visibility: hidden;
          position: absolute;
          height: .7em;
          content: "";
          top: $full;
          right: 0;
          left: 0;
        }
        &:hover {
          background: $off_white;
          color: $basecolor;
          &:before {
            visibility: visible;
            @include opacity(1);
            background: #EFEFEF;
            top: 90%;
          }
        }
      }
    }
  }
}

.page_content {
  position: relative;
  min-height: $full;
  min-width: $full;
  width: $full;
  .innr {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    height: $full;
  }
}

.about_section {
  position: relative;
  text-align: center;
  margin: 17vh auto;
  display: block;
  height: $full;
  width: $full;
  > .about_content {
    @include animation(header .5s 1.25s forwards);
    @include transform(translate3d(0,0,0));
    @include opacity(0);
    margin: 0 auto;
    width: $full;
  }
}

.about_content {
  > {
    .avatar {
      background: url('/img/avatar.jpg') no-repeat;
      filter: sepia(20%) grayscale(30%);
      @include transition(all 1s ease);
      @include background-size(112px);
      @include border-radius($full);
      background-position: 0px 0px;
      border: 5px solid $off_white;
      display: inline-block;
      text-align: center;
      cursor: pointer;
      height: 120px;
      width: 115px;
      &:hover {
        filter: sepia(30%) grayscale(40%);
        @include border-radius(2rem 0);
      }
    }
    p {
      font-family: $basefont;
      margin: 10px auto 20px;
      width: ($full - 30%);
      text-align: center;
      color: $off_white;
      font-size: 1.32em;
      a {
        border-bottom: 5px solid transparentize($basecolor, .4);
        @include transition(color .3s linear, border-bottom .1s linear);
        font-family: inherit;
        color: inherit;
        &:hover {
          border-bottom: 10px solid transparentize($basecolor, .1);
          color: lighten($basecolor, 5%);
        }
      }
      b {
        font-family: inherit;
      }
      .location {
        > span {
          position: relative;
          margin-right: .18em;
        }
      }
    }
  }
}

.my_interests {
  margin-bottom: 27px;
  position: relative;
  color: $off_white;
  font-size: 1.2em;
  display: block;
  > span {
    font-family: $basefont;
    letter-spacing: .05em;
    position: relative;
    color: $off_white;
  }
}

.social_links {
  position: relative;
  a {
    padding: .62em .9em;
    position: relative;
    margin-right: 5px;
    @extend .round;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      > span {
        color: lighten($basecolor, 3%);
      }
    }
    span {
      @include transition(color .3s linear);
      position: relative;
      font-size: 1.5em;
      color: $off_white;
    }
  }
}
