<!doctype html>
<html lang="en">

{% include head.html %}

<body class="personal {% if page.body-class %}{{ page.body-class }}{% endif %}">

   <div class="page-content">
      <section class="main_content">
         <section class="about_content" style="background-image: url(img/bg.jpg); background-repeat: no-repeat; background-position: fixed; background-size: cover;">
            {% include header.html %}

            {{ content }}
         </section>
      </section>
   </div>

   {% include footer.html %}

</body>

</html>
