<!doctype html>
<html lang="en">

{% include head.html %}

<body class="{% if page.body-class %}{{ page.body-class }}{% else %}post{% endif %}">
  <section class="page_hero">
    {% include header.html %}
    <div class="details">
      <h1 class="heading">{% if page.title %}{{ page.title }}{% endif %}.</h1>
      <p class="description">{% if page.description %}{{ page.description }}{% endif %}.</p>
    </div>
  </section>

  <section class="row">
    <section class="col s12 m9 blog-list">
      <section class="post-listing">
        {% if page.body-class == 'blog' %}
        <aside class="blog-selector">
          <li><a href="{{ site.baseurl }}/categories/">Categories</a></li>
          <li><a href="{{ site.baseurl }}/archive/">Archive</a></li>
        </aside>
        {% endif %}
        {{ content }}
        {% include footer.html %}
      </section>
    </section>
  </section>
  {% include js.html %}
  {% include analytics.html %}
</body>
</html>
